# New York Airbnb: Exploring Market Trends

New York City, is one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market Starting from 2019 to see what has changed as the years go by.

# Importing and cleaning the dataset

The first step is to import the Airbnb dataset that contains the full listing and apply some basic transformations to it. We will use Python to import the data, remove unnecessary columns, change the data type, and clean any errors.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
def Airbnb_2024to2023():
    Dataset24_23 = pd.read_csv('Airbnb\April2023\Full Listing.csv')
    # Returns data points from February 6, 2023, to February 6, 2024, divided into four quarters
    return Dataset24_23

def Airbnb_2023to2022():
    Dataset23_22 = pd.read_csv('Airbnb\February2024\Full listings.csv')
    # Returns data points from April 5, 2022, to April 5, 2023, divided into four quarters
    return Dataset23_22   

def Airbnb_2019():
    Dataset2019 = pd.read_csv('Airbnb\AB_NYC_2019.csv')
    return Dataset2019

In [14]:
Airbnb_2024to2023().head()

C:\Users\eobay\AppData\Local\Temp\ipykernel_37596\3438122568.py:2: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  Dataset24_23 = pd.read_csv('Airbnb\April2023\Full Listing.csv')

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,765948794133787266,https://www.airbnb.com/rooms/765948794133787266,20230405045506,2023-04-05,city scrape,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,488760226,...,4.89,4.72,4.94,NaN,t,2,1,1,0,4.46
1,13060365,https://www.airbnb.com/rooms/13060365,20230405045506,2023-04-06,previous scrape,Private Bedroom in 1800 Sq Ft loft,Quiet furnished private bedroom in a 5 BDR Tri...,Tribeca is one of the best neighborhoods in Ma...,https://a0.muscache.com/pictures/49b803fe-9c5a...,5252741,...,NaN,NaN,NaN,NaN,f,1,0,1,0,0.01
2,13316028,https://www.airbnb.com/rooms/13316028,20230405045506,2023-04-06,previous scrape,Duplex Condo in Williamsburg- Pvt Ensuite Bath!,"A bright, airy hideaway located on the norther...",NaN,https://a0.muscache.com/pictures/71edd41f-54f6...,6459374,...,5.00,4.75,5.00,NaN,f,1,0,1,0,0.11
3,13308276,https://www.airbnb.com/rooms/13308276,20230405045506,2023-04-06,previous scrape,The Manhattan - Apartment Near Central Park,Only 1 block from Central Park and 2 blocks fr...,The Upper West Side is filled with beautifully...,https://a0.muscache.com/pictures/7792cacc-e141...,75085688,...,4.70,4.60,4.90,NaN,f,1,1,0,0,0.12
4,13355711,https://www.airbnb.com/rooms/13355711,20230405045506,2023-04-06,previous scrape,Private room in Washington Heights,You’ll love my place because of the neighborho...,NaN,https://a0.muscache.com/pictures/e2822c2f-a54b...,39644709,...,5.00,4.00,5.00,NaN,f,1,0,1,0,0.01

In [16]:
def Select_Columns(Airbnb_2024to2023):
    # Selects columns that are relevant to the analysis
    Airbnb_2024to2023 = Airbnb_2024to2023[['id', 'name','description', 'host_id', 'host_name', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed','latitude',	'longitude','property_type','room_type','price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']]
    return Airbnb_2024to2023
Select_Columns(Airbnb_2024to2023()).head()

C:\Users\eobay\AppData\Local\Temp\ipykernel_37596\3438122568.py:2: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  Dataset24_23 = pd.read_csv('Airbnb\April2023\Full Listing.csv')

,id,name,description,host_id,host_name,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,765948794133787266,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,488760226,Eric,Canarsie,Brooklyn,40.64851,-73.89433,Private room in rental unit,Private room,$30.00,2,18,2023-03-19,4.46,2,9
1,13060365,Private Bedroom in 1800 Sq Ft loft,Quiet furnished private bedroom in a 5 BDR Tri...,5252741,Lindsey,Civic Center,Manhattan,40.71465,-74.00552,Private room in rental unit,Private room,$52.00,30,1,2016-07-10,0.01,1,0
2,13316028,Duplex Condo in Williamsburg- Pvt Ensuite Bath!,"A bright, airy hideaway located on the norther...",6459374,Juan,Greenpoint,Brooklyn,40.72635,-73.95431,Private room in condo,Private room,$120.00,30,9,2017-12-05,0.11,1,0
3,13308276,The Manhattan - Apartment Near Central Park,Only 1 block from Central Park and 2 blocks fr...,75085688,Mark,Upper West Side,Manhattan,40.80072,-73.96142,Entire rental unit,Entire home/apt,$150.00,30,10,2017-11-25,0.12,1,0
4,13355711,Private room in Washington Heights,You’ll love my place because of the neighborho...,39644709,Adriana,Washington Heights,Manhattan,40.85106,-73.93122,Private room in rental unit,Private room,$25.00,30,1,2016-07-31,0.01,1,0